#pbs_bridge_container {
    background-color: #000;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: 999999;
}

#pbs_bridge_outline {
    background-color: #fff;
    position: absolute;
    z-index: 1000000;
}

#pbs_bridge {
    background-color: #B3CE34;
    color: #fff;
    font-family: Arial, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: left;
    z-index: 1000001;
}

#pbs_bridge.feature {
    background-color: #fff;
}

#pbs_bridge a#pbs_bridge_link {
    color: #516F00;
    cursor: pointer;
    display: block;
    font-size: 14px;
    margin: 20px 20px 20px 90px;
    text-decoration: underline;
}

#pbs_bridge p {
    margin: 0 0 1em 0;
}

#pbs_bridge_inner a.bridge_link {
    cursor: pointer;
    font-weight: normal;
    text-decoration: underline;
}


#pbs_bridge_inner {
    font-size: 16px;
    line-height: 1.4;
    padding: 15px 15px 0;
    text-align: left;
}

#pbs_bridge a img {
    border: 0;
}

#pbs_bridge_feature {
    display: block;
    margin: 0 0 15px;
}


/* Apply sprite background to everything that should be sprited! */
#pbs_bridge_header, #pbs_bridge_x, #pbs_bridge_close, #pbs_bridge_sign, #pbs_bridge .pbs_bridge_signLogo {
    background-image: url(http://soup.pbskids.org/images/bridge/sprite.gif);
    text-indent: -99999px;
}

/* Sprite specifics */

#pbs_bridge_header {
    background-position: 0 -92px;
    height: 55px;
    margin: 15px auto 0 auto;
    text-indent: -9999px;
    width: 280px;
}

#pbs_bridge_close {
    background-position: -213px 0;
    bottom: 0;
    cursor: pointer;
    display: block;
    height: 67px;
    left: 15px;
    position: absolute;
    width: 55px;
}

#pbs_bridge_close.feature {
    background-position: 0 -147px;
    height: 25px;
    width: 213px; 
}

#pbs_bridge_x {
    background-position: -213px -147px;
    cursor: pointer;
    display: block;
    height: 25px;
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
}

#pbs_bridge_sign {
    background-position: 0 0;
    display: block;
    height: 92px;
    margin: 0 0 0 80px;
    padding: 0;
    width: 213px;
}

#pbs_bridge .pbs_bridge_signLogo {
    display: block;
    margin: 0; 
    padding: 0;
    position: relative;
    width: 159px;
}

#pbs_bridge_parentsLogo {
    background-position: -268px -33px;
    height: 34px;
    left: 18px;
    top: 18px;
}

#pbs_bridge_teachersLogo {
    background-position: -268px 0;
    height: 33px;
    left: 25px;
    top: 15px;
}
